<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>
<body>
    <h1>Privacy</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur aliquam pariatur ab et ad quaerat. Molestiae ullam rem optio magnam cumque neque quae tempore voluptatum reiciendis necessitatibus dolores aspernatur numquam distinctio, ratione dolorum quo sequi. Debitis maiores animi temporibus quidem ipsam autem, eos obcaecati illo consequatur ipsum sint ab mollitia quam totam nobis, odit sequi placeat officiis optio rem quos est at voluptatum ad. Ullam rerum dolor ad placeat, fuga perferendis porro? Autem nulla, vero quidem fugiat architecto laboriosam aperiam.</p>
</body>
</html>